.bgimg {
    background-image: url('../../images/bruh.jpg');
    min-height: 100vh;
}

.form-field {
    background-color: white;
    opacity: 0.8;
}

.marg {
    transform:translate(+4vw, +20%);
}

.bg {
    background-color: rgba(73, 73, 73, 0.5);
    max-width: 50vw;
}

.row {
    justify-content: center;
    padding-top: 4%;
    align-items: center;
}

.tb {
    min-width: 90vw;
}