.title {
    font-size: 60px;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    color: white;
}

.vertcenter {
    display: flex;
    justify-content: center;
}

.goLeft {
    display: flex;
    justify-content: start;
}

.headshot {
    margin: 2%;
    box-shadow: 5px 5px 40px black;
    width: 100%;
    float: left;
    height: auto;
}

.paragraph {
    margin: 2%;
    margin-left: 10%;
    text-indent: 100px;
    
    font-size: 30px;
    font-style: italic;
    color: white;
}
