.toggle-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 5vh;
    width: 50px;
    background: transparent;
    border: none;
    padding: 0;
    box-sizing: border-box;
    position: absolute;
    left: 1%;
    top: 1%;
}

.toggle-button:focus {
    outline: none;
}

.toggle-button-line {
    width: 100%;
    height: 5px;
    background: red;
}

.text {
    font-size: 2rem;
    color: red;
    font-weight: bold;
    z-index: 2;
    position: relative;
    left: 3vw;
}

.col {
    max-width: 1vw; 
    top: 1vh;
}

.cont {
    display: flex;
    float: left;
    margin: 1%;
    
}
@media (max-width: 1400px)
{
    .text {
        left: 3vw;
    }
}

@media (max-width: 1300px)
{
    .text {
        left: 3vw;
    }
}

@media (max-width: 1200px)
{
    .text {
        left: 3.5vw;
    }
}


@media (max-width: 992px)
{
    .text {
        left: 6vw;
    }

}

@media (max-width: 768px)
{
    
    .text {
        left: 7vw;
    }
}


@media (max-width: 560px)
{
    .paragraph {
        font-size: 20px;
    }

}

@media (max-width: 450px)
{
    
    .paragraph {
        font-size: 20px;
    }
    
}