.navText {
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    color: white;
    display: inline;
    padding: 2%;

    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;

}

.maindiv {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    left: 23%;
    top: 78%;
    transform: translate(-1%, +100%);

    background-color: rgba(63, 53, 53, 0.3);

}

.nav {
    
    min-width: 110vh;
    text-align: center;
}

@media (max-width: 1400px)
{
    .maindiv {
        left:3%;
    }
}

@media (max-width: 1200px)
{
    .maindiv {
        left:3%;
    }
}


@media (max-width: 992px)
{
    .navText {
        font-size: 30px;
    }

    .nav {
        min-width: 85vh;
    }

}

@media (max-width: 768px)
{
    .navText {
        font-size: 30px;
    }

    .maindiv {
        left: 0%;
    }

    .nav {
        min-width: 30vh;
    }

}


@media (max-width: 560px)
{
    .navText {
        font-size: 25px;
    }

    .maindiv {
        left: 0%;
    }

    .nav {
        min-width: 60vh;
    }

}

@media (max-width: 450px)
{
    .navText {
        font-size: 20px;
    }

    .maindiv {
        left: 0%;
    }

    .nav {
        min-width: 46vh;
        max-width: 25vh;
    }
}