.pos {
    position: absolute;
    z-index: 1;
}

.offset {
    left: 35%;
}

/* .navbarbrand {
    font-size: 30px;
    font-weight: bold;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
} */

.link {
    font-size: 50px;
    font-weight: bold;
    
}

.cont {
    max-width: 100%;
    margin: 0 auto;
}
