.bg {
    background-image: radial-gradient(rgb(133,161,174),rgb(117,125,154));
    min-height: 100vh;
}

.title {
    font-size: 120px;
    font-weight: bold;
    font-style: italic;
    color: white;
    text-align: center;
    font-family: 'Caveat', cursive;
}

.imageLeft {
    margin: 2%;
    width: 95%;
    float: right;
    box-shadow: 5px 5px 40px black;
}

.imageRight {
    margin: 2%;
    width: 95%;
    box-shadow: 5px 5px 40px black;
}

.tabs {
    padding-top: 3%;
    margin: 0 auto;
    width: 31%;
}

.logo {
    position: absolute;
    top: 1%;
    right: 1%;
    z-index: 1;
    width: 20%;
}


.playerwrapperleft {
    position: relative;
    padding-top: 56.25%;
}


.playerwrapperright {
    position: relative;
    padding-top: 56.25%;
}

.reactplayer {
    position: absolute;
    top: 0;
    left: 0;
}

@media (max-width: 1800px)
{
    .tabs {
        width: 33%;
    }
}

@media (max-width: 1700px)
{
    .tabs {
        width: 33%;
    }
}

@media (max-width: 1650px)
{
    .tabs {
        width: 39%;
    }
}

@media (max-width: 1300px)
{
    .tabs {
        width: 35%;
    }
}

@media (max-width: 1200px)
{
    .tabs {
        width: 43%;
    }
}


@media (max-width: 992px)
{
    .tabs {
        width: 47%;
    }

}

@media (max-width: 768px)
{
    
    .tabs {
        width: 65%;
    }

    .title {
        padding-top: 5%;
    }


}


@media (max-width: 560px)
{
    .tabs {
        width: 90%;
    }



}

@media (max-width: 450px)
{
    
    .tabs {
        width: 90%;
    }
    
}
